<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/jdbc
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
		<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	
	<context:property-placeholder location="classpath:application.properties" ignore-resource-not-found="false"/>
	<context:component-scan base-package="st.ticketplat"/>
 <!--<jdbc:initialize-database data-source="h2DataSource">
	    <jdbc:script location="classpath:schema.sql" />
	 </jdbc:initialize-database>-->
	
	
	<bean id="h2DataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
	    <property name="driverClassName" value="org.h2.Driver" />
	    <property name="url" value="jdbc\:h2\:~/test" />
	    <property name="username" value="sa" />
	    <property name="password" value="" />
	</bean> 
	<!--<bean id="transcationManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="h2DataSource" ref="h2DataSource"/>
</bean>-->
	
</beans>
